<% include ../partials/header %>
    <h1>Edit</h1>

    <div class="container" id='createBookForm'>
        <form action="/catalogo/<%= libro._id %>?_method=PUT" method="POST" id="">
            <!-- Datos Libro -->
            <input type="hidden" name="libro[id]" id="idLibro" value="<%= libro._id %>">
            <input class="form-control" type="text" name="libro[titulo]" value="<%= libro.titulo %>" id="tituloLibro" placeholder="Titulo">
            <input class="form-control" type="text" name="libro[subtitulo]" value="<%= libro.subtitulo %>" id="subtituloLibro" placeholder="Subtitulo">
            <input class="form-control" type="text" name="libro[anioPublicacion]" value="<%= libro.anioPublicacion %>" id="anioPublicacionLibro"
                placeholder="Año Publicacion">
            <input class="form-control" type="text" name="libro[pais]" value="<%= libro.pais %>" id="paisLibro" placeholder="Pais">
            <input class="form-control" type="text" name="libro[ciudad]" value="<%= libro.ciudad %>" id="ciudadLibro" placeholder="Ciudad">
            <input class="form-control" type="text" name="libro[editorial]" value="<%= libro.editorial %>" id="editorialLibro" placeholder="Editorial">
            <input class="form-control" type="text" name="libro[img]" value="<%= libro.img %>" id="imgLibro" placeholder="Imagen">

          
            <!--Datos Autor-->
            <div class="row">
                <div class="col-4">
                    <select class='form-control' name="authorID" onchange='paintAuthors(this)'>
                        <option value='0'>Seleccione autores...</option>
                        <% authors.forEach((item) => { %>
                            <option value="<%= item._id %>">
                                <%= item.authorName + ' ' + item.authorLastName %>
                            </option>
                        <% }); %>
                    </select>
                </div>
                <div class="col-6">
                    <div id="authors-selected">
                            <% libro.authors.forEach((item) => { %>
                                <span id='<%= item._id %>' style="border: 1px solid black; border-radius: 5px; padding: 5px;" onclick='deletePaintedAuthor(this)' data-authorid='<%= item._id %>'><%= item.authorName + ' ' + item.authorLastName %> x</span>
                            <% }); %>
                    </div>
                </div>
            </div>
            <!-- Datos libreria -->
            <input class="form-control" type="text" name="libro[descripcion]" value="<%= libro.descripcion %>" id="descripcionLibro"
                placeholder="Descripción">
            <input class="form-control" type="text" name="libro[stock]" value="<%= libro.stock %>" id="stockLibro" placeholder="stock">
            <input class="form-control" type="text" name="libro[nuevo]" value="<%= libro.nuevo %>" id="nuevoLibro" placeholder="nuevo">
            <input class="form-control" type="text" name="libro[categoria]" value="<%= libro.categoria %>" id="categoriaLibro" placeholder="Categoria">
            <input class="form-control" type="text" name="libro[temas]" value="<%= libro.temas %>" id="temasLibro" placeholder="Temas">
            <input class="form-control" type="text" name="libro[keywords]" value="<%= libro.keywords %>" id="keywordsLibro" placeholder="Keywords">
            <input class="form-control" type="number" name="libro[precio]" value="<%= libro.precio %>" id="precioLibro" placeholder="Precio" >
            <input type="submit" class='btn btn-success' value="Actualizar Registro">
        </form>
    </div>

    <script src="/js/catalogo.js"></script>