<%include ../partials/header%>

<div class="container-fluid">
    <label for="filter-*">Filtros</label>
    <div class="row">


        <div class="col-xs-12 col-md-4"><input class="form-control" type="number" name="filter-price" id="filter-price"
                placeholder="Precio..."></div>
        <div class="col-xs-12 col-md-4"><input class="form-control" type="text" name="filter-name" id="filter-name"
                placeholder="Título..."></div>
        <div class="col-xs-12 col-md-4"><input class="form-control" type="text" name="filter-author" id="filter-author"
                placeholder="Autor..."></div>




        <div class="col-12" id='catalogo-fila'>
            <div class="container">
                <div class="row">
                    <% libros.forEach(function(item){ %>

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 book-representation" onclick='reenviar("")'
                        style="width: 12rem;" data-price='<%= item.precio %>' data-fprice='off' data-ftitle='off'>
                        <div class="card">
                            <a href='/catalogo/show/<%= item._id %>'><img class='book-img card-img-top' src="<%= item.img %>"
                                    alt="Card image cap"></a>
                            <div class="card-body">
                                <p class="card-title book-data book-title">
                                    <% if (item.titulo.length > 20) { %>
                                    <%= item.titulo.substring(0,20) + '...' %>
                                    <% } else { %>
                                    <%= item.titulo.substring(0,23) %>
                                    <% } %>
                                </p>
                                <p class='card-text book-data book-author'>
                                    <%= item.authors[0].authorName + ' ' + item.authors[0].authorLastName %>
                                </p>
                                <% if (item.oferta) { %>
                                <p class="book-price" data-price='<%= item.precioOferta %>'>$
                                    <%= item.precioOferta.toLocaleString('cl-CL') %>
                                </p>
                                <% } else { %>
                                <p class="book-price" data-price='<%= item.precio %>'>$
                                    <%= item.precio.toLocaleString('cl-CL') %>
                                </p>
                                <% } %>

                                <!--a class="btn btn-info" href="/catalogo/<%= item._id %>">Detalles</a-->
                            </div>
                        </div>

                    </div>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <% if (pages > 0) { %>
    <ul class="pagination justify-content-center">
        <% if (current == 1) { %>
        <li class="page-item disabled"><a class="page-link">First</a></li>
        <% } else { %>
        <li><a href="/catalogo/1" class="page-link">First</a></li>
        <% } %>
        <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
        <% if (i !== 1) { %>
        <li class="page-item disabled"><a class="page-link">...</a></li>
        <% } %>
        <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
        <% if (i == current) { %>
        <li class="page-item active"><a class="page-link">
                <%= i %></a></li>
        <% } else { %>
        <li><a href="/catalogo/<%= i %>" class="page-link">
                <%= i %></a></li>
        <% } %>
        <% if (i == Number(current) + 4 && i < pages) { %>
        <li class="page-item disabled"><a class="page-link">...</a></li>
        <% } %>
        <% } %>
        <% if (current == pages) { %>
        <li class="page-item isabled"><a class="page-link">Last</a></li>
        <% } else { %>
        <li><a href="/catalogo/<%= pages %>" class="page-link">Last</a></li>
        <% } %>
    </ul>
    <% } %>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
<script>

    let filtroPrecio = document.getElementById('filter-price');
    let filtroNombre = document.getElementById('filter-name');
    let filtroAuthor = document.getElementById('filter-author');


    filtroPrecio.addEventListener('keyup', (e) => {
        let libros = Array.from(document.getElementsByClassName('book-representation'));

        libros.forEach((el) => {
            var valor = document.getElementById('filter-price').value;
            if (Number.parseInt(valor) > el.dataset.price) {
                //el.style.display = 'none';
                el.dataset.fprice = 'on';
            } else {
                //el.style.display = 'block';
                el.dataset.fprice = 'off';
            }

        });
        desaparecer(libros);
    });
    filtroNombre.addEventListener(('keyup'), (e) => {
        let libros = Array.from(document.getElementsByClassName('book-representation'));
        let texto = filtroNombre.value;
        let largoTexto = texto.length;
        libros.forEach((el) => {
            let tituloLibro = el.childNodes[1].childNodes[3].innerText.trim().substring(0, largoTexto).toLowerCase();
            if (texto.trim().substring(0, largoTexto).toLowerCase() == tituloLibro) {
                //el.style.display = 'block';
                el.dataset.ftitle = 'off';
            } else {
                //el.style.display = 'none';
                el.dataset.ftitle = 'on';
            }
        });
        desaparecer(libros);
    });

    filtroAuthor.addEventListener(('keyup'), (e) => {
        let libros = Array.from(document.getElementsByClassName('book-representation'));
        let texto = filtroAuthor.value;
        let largoTexto = texto.length;
        libros.forEach((el) => {
            console.log(texto);
            let authorLibro = el.childNodes[1].childNodes[3].childNodes[3].innerText.trim().substring(0, largoTexto).toLowerCase();
            if (texto.trim().substring(0, largoTexto).toLowerCase() == authorLibro) {
                //el.style.display = 'block';
                el.dataset.fauthor = 'off';
            } else {
                //el.style.display = 'none';
                el.dataset.fauthor = 'on';
            }
        });
        desaparecer(libros);
    });

    let desaparecer = () => {
        Array.from(document.getElementsByClassName('book-representation')).forEach((el) => {
            if (el.dataset.fprice == 'on' || el.dataset.ftitle == 'on' || el.dataset.fauthor == 'on') {
                el.style.display = 'none';
            } else if (el.dataset.fprice == 'off' || el.dataset.ftitle == 'off' || el.dataset.fauthor == 'off') {
                el.style.display = 'block';
            }
        });
    }

    var reenviar = (direccion) => {
        window.location.href = direccion;
    }

</script>


<%include ../partials/footer%>